/* Color Pallete------------------- */
:root {
  --blue: #19a3ff;
  --white: #ffffff;
  --grey: #5e5e5e;
  --light-grey: #f7f7f7;
  --dark-grey: #393939;
  --black: #000000;
}

/* Fonts--------------------------- */
@font-face { /* Hairline - 100 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face { /* Thin - 200 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face { /* ExtraLight - 300 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-ExtraLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face { /* Light - 400 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face { /* Regular - 500 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face { /* Bold - 600 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face { /* Blaack - 700 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face { /* UltraBlack - 800 */
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-UltraBlack.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html, body {
    margin: 0;
    color: var(--dark-grey);
    font-family: 'Interstate', Helvetica, sans-serif;
    /* width: 100%; */
    /* height: 100%; */
}
#lock {
  display: block;
  margin: auto;
  margin-bottom: 32px;
}
/* Card--------------------------- */
#mainDialog {  /* Card BG */
    max-width: 400px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#dialogText { /* Card Header */
    padding: 16px 16px;
    color: var(--white);
    background-color: var(--dark-grey);
    border-radius: 4px 4px 0px 0px;
}
#passArea {  /* Card Actual Section */
    padding: 16px 16px;
    padding: 16px 16px;
    padding-right: 22px;
}
#passArea > * {  /* Card Actual Section */
    margin: 8px auto;
    color: var(--dark-grey);
}

#passwordPrompt {/* Helper Text */
  color: var(--dark-grey);
  display: none;
}

#pass {  /* Input Field */
    width: 100%;
    height: 40px;
    font-size: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 4px;
}
#pass:focus {
    outline-color: var(--blue);
}

button {
  float: right;
  font-family: 'Interstate', Helvetica, sans-serif;
  border-radius: 4px;
  border: none;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-right: -8px;
}
#requestPass {
  margin-right: 16px;
  background-color: #cccccc;
  color: var(--grey);
  font-weight: 400;
}

/* Other Card Items--------------------------- */
#dialogWrap { /* Surrounding Area */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background-color: var(--white);
}
#dialogWrapCell { /* Surrounding Area */
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.notifyText {  /* Success/Failure Message */
    display: none;
}
#messageWrapper {
    float: left;
    vertical-align: super;
    line-height: 32px;
}
#invalidPass {
    color: red;
}
#success {
    color: green;
}
/* #submitPass {
    font-size: 20px;
    border-radius: 5px;
    background-color: #E7E7E7;
    border: solid gray 1px;
    float: right;
} */
#contentFrame { /* iframe */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-weight: regular;
    font-size: 0.8em;
}
#attribution, #attribution a {
    color: var(--grey);
}
