/* Color Pallete-------------------
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EE2329 -red
*/

/* Fonts--------------------------- */
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Hairline-Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Thin-Italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-ExtraLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-ExtraLight-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Light-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Regular-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Bold-Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-Black-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-UltraBlack.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/Interstate-UltraBlack-Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

/* Media listeners--------------------------- */
@media screen and (max-width: 768px) {

  .nav_container {
    display: grid;
    grid-template-columns: 1fr auto 1fr !important;
    grid-template-rows: auto auto auto auto auto auto;
    column-gap: 16px;
    grid-template-areas:
      "nav-left . nav-right"
      ". row2 ."
      ". row3 ."
      ". row4 ."
      ". row5 .";
  }
  .nav_container div.hamburger {
    display: inline-block;
  }
  .icon_personal_container,.nav_tab,.blanks{
    display: none;
  }
  .hamburger {
    cursor: pointer;
    align-self: center; /* Vertical */
    grid-area: nav-left;
  }
  .nav_tab.open{
    display: block;
    font-family: 'Interstate', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-top: 64px;
  }
  div#nav_tab_about{
    grid-area: row2;
  }
  div#nav_tab_work {
    grid-area: row3;
  }
  div#nav_tab_skills {
    grid-area: row4;
  }
  div#nav_tab_contact {
    grid-area: row5;
  }
  div#nav_text {
    grid-area: nav-right;
  }
}
/* Global Styles--------------------------- */
body {
  background: #181818;
  color: #FFFFFF;
  font-family: 'Interstate', Helvetica, sans-serif;
}
main {
  margin-left: 16px;
  margin-right: 16px;
}

/* Text Styles------------------- */
h1 {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 400;
}
h2 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
}
h3, p, ul {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
}
b {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Body link Styles--------------------------- */
a{
  color: #8D99AE;
}
a:hover{
  color: #EDF2F4;
}

/* Nav Styles--------------------------- */
.nav_container {
  /* styles */
  background-color: #343434;
  max-height: 64px;
  top: 0;
  left: 0;
  width: 100%; /* full width constant*/
  position: fixed;
  /* grid */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  column-gap: 16px;
  list-style-type: none;
  align-content: start;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.nav_container.open {
  max-height: 100%;
  height: 200%;
  background-color: #000000;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hamburger {
  cursor: pointer;
  justify-self: left; /* Horizontal */
  align-self: center; /* Vertical */
  display: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
}
.bar1, .bar2, .bar3 {
  width: 32px;
  height: 4px;
  background-color: #FFFFFF;
  margin: 6px 0;
  transition: 0.3s;
  border-radius: 10px;
}


/* rotate menu bars */
.active .bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
  /* transform: translateY(11px) translateX(0) rotate(45deg); */
  transition: 0.3s;
}
.active .bar2 {
  opacity: 0;
  transition: .1s
}
.active .bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
  /* transform: translateY(-11px) translateX(0) rotate(-45deg); */
  transition: 0.3s;
}


#icon_personal {
  display: grid;
  justify-content: start; /* Horizontal */
  align-content: center; /* Vertical */
  width: 24px;
  height: 24px;
  padding: 20px;
}
.nav_tab {
  font-family: 'Interstate', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #8D99AE;
  justify-self: center; /* Horizontal */
  align-self: center; /* Vertical */
}
#nav_text {
  font-family: 'Interstate', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  justify-self: right; /* Horizontal */
  align-self: center; /* Vertical */
  padding-right: 16px;
}

/* Nav Style - Effects------------------------- */
.nav_tab_hover_effect {
  /* setting up hover fill linear left */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( to right, #FFFFFF 50%, #6F6F6F 50%);
  background-size: 200% 100%;
  background-position: 100%;
  /* On OffHover, reverse hover fill linear left*/
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* setting up underline linear left  */
  display: inline-block;
}
.nav_tab_hover_effect:hover {
  color: #EDF2F4;
  /* OnHover, execute hover fill linear left */
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-position: 0%;
}
/* adding in underline for underline linear left*/
.nav_tab_hover_effect::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: width .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* OnHover, execute underline linear left */
.nav_tab_hover_effect:hover::after {
    width: 1ch;
    transition: width .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


/* List Styles--------------------------- */
ul {
  list-style: none;
}
li {
  margin-bottom: 16px
}


/* Work Box Styles------------------- */
.work_box {
  /* box style*/
  width: 316px;
  height: 186px;
  background-color: #9a9a9a;

  /* internal box text style */
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: #e2e2e2;
  text-decoration: none;
}
.icon_client {
  width: 40px;
  height: 40px;
  fill: #6F6F6F;
  display: inline-block;
  margin:auto;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.icon_client:hover {
  width: 64px;
  height: 64px;
  fill: #FFFFFF;
  display: inline-block;
  margin:auto;
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-position: 0%;
}


/* Skill Bar Styles------------------- */
.rear_skill_bar {
  width: 225px;
  background-color: #929292; /* Background bar color */
  border-radius: 100px;
}
.front_skill_bar {
  padding: 8px; /* Add some padding */
  background-color: #4E4E4E; /* Foreground bar color */
  border-radius: 100px;
}
.sketch {width: 68%;}
.flinto {width: 68%;}
.invision {width: 60%;}
.mural {width: 60%;}
.powerpoint {width: 77%;}
.excel {width: 77%;}
.word {width: 60%;}
.html {width: 34%;}
.css {width: 34%;}
.javascript {width: 34%;}


/* Social Icon Styles--------------------------- */
.icon_social {
  width: 24px;
  height: 24px;
  fill: #6F6F6F;
  transition: fill 1s;
}
.icon_social:hover {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}
