

@font-face {
    font-family:"nbintl";
    src:url("NBInternationalPro.woff2") format("woff2"),url("NBInternationalPro.woff") format("woff"),url("NBInternationalPro.otf") format("opentype");
    font-style:normal;font-weight:700;
}
        
@font-face {
    font-family:"nbintl-mono";
    src:url("NBInternationalPro-Mono.woff2") format("woff2"),url("NBInternationalPro-Mono.woff") format("woff"),url("NBInternationalPro-Mono.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        